[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/g-truc/glm
[submodule "apriltag-js-standalone"]
	path = apriltag-js-standalone
	url = git@github.com:conix-center/apriltag-js-standalone.git
